@model Project__B_Night.Entities.Admin
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="margin-top:50px">
    <h2 class="alert alert-success">Kullanıcı Giriş Sayfası</h2>
    <br />
    <div class="alert alert-success">
        <form method="post">

            <label>Adınız</label>
            <br />
            <label>Kullanıcı Adınız</label>
            <br />
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
            <br />
            <label>Şifreniz</label>
            <br />
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            <br />
            <button class="btn btn-success">Giriş Yap</button>
        </form>
    </div>
</div>
